.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.book-title {
    font-size: larger;
    font-weight: 800;
}

.book-title::before {
    content: '“';
}

.book-title::after {
    content: '”';
}

.fa,
.fas {
    opacity: .5;
}

.book-number {
    font-weight: 200;
    font-size: 1.4rem;
}

.book-number::before {
    content: '#';
}

cite {
    font-size: smaller;
}

cite::before {
    content: '– ';
}

.button-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    margin: 0 auto;
}

button {
    color: white;
    background: #4448;
    padding: .5em 1.5em;
    border: none;
    outline: none;
    margin: 1px;
    font-size: 1rem;
    transition: background 250ms ease-out;
}

button:first-of-type {
    border-radius: 2em 0 0 2em;
    padding-left: 1.7em;
}

button:last-of-type {
    border-radius: 0 2em 2em 0;
    padding-right: 1.7em;
}

button:hover {
    background: grey;
}

button:focus,
button:active {
    box-shadow: 0px 0px 0px 2px #eee inset;
}

button[disabled] {
    background: #282c34;
    color: #999;
    box-shadow: none;
}

.book-details {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
}

.book-id {
    width: 15%;
    text-align: center;
}

.title-and-author {
    width: 80%;
    text-align: center;
}

.wrapper {
    padding: 2rem 3rem;
    box-shadow: -3px -3px 15px #ccc2, -5px -5px 30px #ccc2, 3px 3px 15px #000a, 5px 5px 30px #000a;
    border-radius: 50px;
}