.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.book-title {
    font-size: larger;
    font-weight: 800;
}

.book-title::before {
    content: '“';
}

.book-title::after {
    content: '”';
}

.book-number {
    font-weight: 200;
}

.book-number::before {
    content: '#';
}

cite {
    font-size: smaller;
}

cite::before {
    content: '– ';
}